
#nav{
    width: 300px;
}

.title{
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;
    line-height: 35px;
    /*颜色，图片，图片位置，平铺方式*/
    background: indianred url("../image/2.jpg") 260px 10px no-repeat;

}

/*ul li*/
/*
list-style:
none: 去掉圆点
circle:空心圆
decimal:数字
square:正方形
*/
ul{
    background: #a0a0a0;
}

ul li{
    height: 30px;
    list-style: none;
    text-indent: 1em;
    background-image: url("../image/1.jpg");
    background-repeat: no-repeat;
    background-position: 220px,2px;
}

a{
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}
a:hover{
    color: orange;
    text-decoration: underline;
}